.container {
  padding: 24px;

  $borderRadiusWidth: 5px;

  .add_input {
    width: 200px;
    height: 20px;
    border: 1px solid #b2b2b2;
    border-radius: $borderRadiusWidth;
    padding: 4px;
  }

  .add_btn {
    margin-left: 12px;
    background-color: rgb(67, 175, 67);
    color: #fff;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: $borderRadiusWidth;
    padding: 4px 12px;
  }
}
