.container {
  width: 300px;
  padding: 24px;

  .input_area {
    $inputAlign: middle;

    display: flex;

    input {
      flex-grow: 1;
      padding: 4px;
      margin-right: 8px;
      border-radius: 4px;
      border: 1px solid #b2b2b2;
      vertical-align: $inputAlign;
    }

    button {
      padding: 4px 12px;
      color: white;
      background-color: #1b9f45;
      border-radius: 4px;
      border: none;
      vertical-align: $inputAlign;
    }
  }

  .message {
    font-size: 1.1rem;
  }
}
